// Buttons
// --------------------------------------------------

.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    @include padding(6px, 12px, 6px, 12px);
    @include font-size-rem($font-size);
    line-height: $line-height;
    @include border-radius($border-radius);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a.button,
a.button:link,
a.button:visited,
a.button:active,
a.button:hover {
    text-decoration: none;
}
.button.active:focus,
.button:active:focus,
.button:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.button:focus,
.button:hover {
    color: #333;
    text-decoration: none;
}
.button.active,
.button:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.button.disabled,
.button[disabled],
fieldset[disabled] .button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

// Button Sizes
// ==========================================================================

.button-xl {
    @include padding(15px, 22px, 15px, 22px);
    @include font-size-rem($font-size-button-xl);
    line-height: 1.33;
    @include border-radius($border-radius-button-xl);
    text-decoration: none;
}
.button-lg {
    @include padding(10px, 16px, 10px, 16px);
    @include font-size-rem($font-size-button-lg);
    line-height: 1.33;
    @include border-radius($border-radius-button-lg);
    text-decoration: none;
}
.button-sm {
    @include padding(5px, 10px, 5px, 10px);
    @include font-size-rem($font-size-button-sm);
    line-height: $line-height;
    @include border-radius($border-radius-button-sm);
    text-decoration: none;
}
.button-block {
    display: block;
    width: 100%;
}
.button-block+.button-block {
    margin-top: 5px;
}
input[type=button].button-block,
input[type=reset].button-block,
input[type=submit].button-block {
    width: 100%;
}

// Button Types
// ==========================================================================

.button-default {
    background: $button-default-bg;
    border-radius: $border-radius;
    color: $button-inverse-bg;
    @include border(1px, solid, darken($button-default-bg, 15%));
}
.button-default:link, .button-default:visited {
    color: $button-inverse-bg;
}
.button-default:active, .button-default:hover {
    background: darken($button-default-bg, $button-darken-bg);
    color: $button-inverse-bg;
}
.button-inverse {
    background: $button-inverse-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-inverse-bg, 15%));
}
.button-inverse:link, .button-inverse:visited {
    color: $button-link-color;
}
.button-inverse:active, .button-inverse:hover {
    background: darken($button-inverse-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-search {
    background: $button-search-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-search-bg, 15%));
}
.button-search:link, .button-search:visited {
    color: $button-link-color;
}
.button-search:active, .button-search:hover {
    background: darken($button-search-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-primary {
    background: $button-primary-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-primary-bg, 15%));
}
.button-primary:link, .button-primary:visited {
    color: $button-link-color;
}
.button-primary:active, .button-primary:hover {
    background: darken($button-primary-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-secondary {
    background: $button-secondary-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-secondary-bg, 15%));
}
.button-secondary:link, .button-secondary:visited {
    color: $button-link-color;
}
.button-secondary:active, .button-secondary:hover {
    background: darken($button-secondary-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-info {
    background: $button-info-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-info-bg, 15%));
}
.button-info:link, .button-info:visited {
    color: $button-link-color;
}
.button-info:active, .button-info:hover {
    background: darken($button-info-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-success {
    background: $button-success-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-success-bg, 15%));
}
.button-success:link, .button-success:visited {
    color: $button-link-color;
}
.button-success:active, .button-success:hover {
    background: darken($button-success-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-warning {
    background: $button-warning-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-warning-bg, 15%));
}
.button-warning:link, .button-warning:visited {
    color: $button-link-color;
}
.button-warning:active, .button-warning:hover {
    background: darken($button-warning-bg, $button-darken-bg);
    color: $button-link-color;
}
.button-error {
    background: $button-error-bg;
    border-radius: $border-radius;
    color: $button-link-color;
    @include border(1px, solid, darken($button-error-bg, 15%));
}
.button-error:link, .button-error:visited {
    color: $button-link-color;
}
.button-error:active, .button-error:hover {
    background: darken($button-error-bg, $button-darken-bg);
    color: $button-link-color;
}
