// Miscellaneous
// --------------------------------------------------

// Background Colours
// ==========================================================================

.bg-default {
  background-color: $bg-default;
}
.bg-inverse {
  background-color: $bg-inverse;
}
.bg-primary {
  background-color: $bg-primary;
}
.bg-secondary {
  background-color: $bg-secondary;
}
.bg-info {
  background-color: $bg-info;
}
.bg-success {
  background-color: $bg-success;
}
.bg-warning {
  background-color: $bg-warning;
}
.bg-error {
  background-color: $bg-error;
}

// Text Colours
// ==========================================================================

.text-default {
  color: $text-default;
}
.text-inverse {
  color: $text-inverse;
}
.text-primary {
  color: $text-primary;
}
.text-secondary {
  color: $text-secondary;
}
.text-info {
  color: $text-info;
}
.text-success {
  color: $text-success;
}
.text-warning {
  color: $text-warning;
}
.text-error {
  color: $text-error;
}
